# Data Aggregation and Group Operations

In [2]:
import numpy as np
import pandas as pd

Para entrar en este capitulo no perdamos de vista ésta idea **DIVIDIR - APLICAR - COMBINAR**

**Dividir:**  Separar los datos según una o mas claves.<br>
**Aplicar:**  Ejecutar una función sobre cada grupo.<br>
**Combinar:** Reunir los resultados en un nuebo objeto.<br>

Así Pandas ejecuta las operaciones de grupos mediante el método de <span style="color:blue">**.groupby( )**</span>

In [53]:
data = { 'Nombre' : ['Juan', 'Ana', 'Luis', 'Laura', 'Pedro', 'Carla'],
         'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona', 'Madrid'],
         'Edad': [25, 33, 30, 28, 45, 38],
         'Puntuacion': [80, 90, 85, 88, 75, 91],
         'Categoria' : ['A','A','B','A','B','B']

}
df = pd.DataFrame(data)
df

  Nombre     Ciudad  Edad  Puntuacion Categoria
0   Juan     Madrid    25          80         A
1    Ana  Barcelona    33          90         A
2   Luis     Madrid    30          85         B
3  Laura   Valencia    28          88         A
4  Pedro  Barcelona    45          75         B
5  Carla     Madrid    38          91         B

In [ ]:
#Calcular la media de edad por ciudad
grouped = df["Edad"].groupby(df["Ciudad"])
#grouped.groups
grouped.mean()

Ciudad
Barcelona    39.0
Madrid       31.0
Valencia     28.0
Name: Edad, dtype: float64

**Dividir:**  grouped = df["Edad"].groupby(df["Ciudad"]) -> creamos los grupos por "Ciudad".<br>
**Aplicar:**  grouped.mean() -> Calculamos el promedio dentro de cada grupo.<br>
**Combinar:**  obtenemos una Series indexada por los valores únicos de "Ciudad", con sus promedios correspondientes.<br>

¡Ojito! <br>
.groups = Muestra cómo pandas separó los datos (diccionario con índices).<br>
.mean(), .sum(), .count() = Muestra los resultados de cálculos sobre cada grupo.

"Un DataFrame se puede agrupar por sus filas ( axis="index") o columnas ( axis="columns"). Una vez hecho esto, se aplica una función a cada grupo, generando un nuevo valor. Finalmente, los resultados de todas esas aplicaciones de función se combinan en un objeto resultante. La forma del objeto resultante suele depender del procesamiento de los datos."

  ![  ](image.png)

Cositas útiles!!<br>
**Seleccionar una columna o un subconjunto de columnas**

In [ ]:
#df.groupby(["Ciudad"])[["Edad"]].mean()
df.groupby(["Ciudad", "Categoria"])[["Edad"]].mean()