# 10  Data Aggregation and Group Operations

In [2]:
import numpy as np
import pandas as pd

## 1 Cómo pensar en las operaciones de grupo


 "dividir-aplicar-combinar" para describir las operaciones de agrupación.
  En la primera etapa del proceso, los datos de un objeto pandas, ya sea una serie, un DataFrame u otro, se dividen en grupos según una o más claves proporcionadas. La división se realiza en un eje específico del objeto. Por ejemplo, un DataFrame se puede agrupar por sus filas ( axis="index") o columnas ( axis="columns"). Una vez hecho esto, se aplica una función a cada grupo, generando un nuevo valor. Finalmente, los resultados de todas esas aplicaciones de función se combinan en un objeto resultante. La forma del objeto resultante suele depender del procesamiento de los datos.
  ![  ](image.png)

In [10]:
data = { 'Nombre' : ['Juan', 'Ana', 'Luis', 'Laura', 'Pedro', 'Carla'],
         'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona', 'Madrid'],
         'Edad': [25, 33, 30, 28, 45, 38],
         'Puntuacion': [80, 90, 85, 88, 75, 91],
         'Categoria' : ['A','A','B','A','B','B']

}
df = pd.DataFrame(data)
df

  Nombre     Ciudad  Edad  Puntuacion Categoria
0   Juan     Madrid    25          80         A
1    Ana  Barcelona    33          90         A
2   Luis     Madrid    30          85         B
3  Laura   Valencia    28          88         A
4  Pedro  Barcelona    45          75         B
5  Carla     Madrid    38          91         B

In [11]:
#calcular la media de edad por ciudad
grouped = df["Edad"].groupby(df["Ciudad"])
grouped

Esta grouped variable ahora es un objeto especial "GroupBy" . Aún no ha calculado nada, salvo algunos datos intermedios sobre la clave de grupo df["key1"]. La idea es que este objeto contenga toda la información necesaria para aplicar alguna operación a cada uno de los grupos

In [12]:
#En este caso, lo que ves es un Series, no un DataFrame.
grouped.mean()

Ciudad
Barcelona    39.0
Madrid       31.0
Valencia     28.0
Name: Edad, dtype: float64

 Lo importante es que los datos (una Serie) se han agregado dividiéndolos en la clave de grupo, lo que genera una nueva Serie indexada por los valores únicos de la key1columna. El índice resultante tiene el nombre "key1"porque la columna DataFrame df["key1"]lo tenía.

In [8]:
df = pd.DataFrame(grouped.mean())
df

           Edad
Ciudad
Barcelona  39.0
Madrid     31.0
Valencia   28.0

In [14]:
#Si en cambio hubiéramos pasado múltiples matrices como una lista, obtendríamos algo diferente:
means = df["Edad"].groupby([df["Ciudad"], df["Categoria"]]).mean()
means

Ciudad     Categoria
Barcelona  A            33.0
           B            45.0
Madrid     A            25.0
           B            34.0
Valencia   A            28.0
Name: Edad, dtype: float64

Aquí agrupamos los datos utilizando dos claves, y la serie resultante ahora tiene un índice jerárquico que consta de los pares únicos de claves observados:

## 2 Agregación de datos

## 5 Tablas dinámicas y tabulación cruzada